nav {
  padding: 10px 10px 10px 0;
  position: fixed;
  height: 100vh;
  background: blue;
  right: -124px;
  top: 0;
  font-size: 1.1em;
  text-transform: uppercase;
  background-color: rgb(255, 213, 130);
  text-align: right;
  border-left: 7px solid #fdf5e6;
  opacity: 0.9;
  transition: right 0.25s ease-out;
  width: 116px;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
  text-shadow: inherit;
  border-bottom: 1px dotted;
}

ul {
  margin-top: 10vh;
  padding-left: 2vw;
}

li {
  list-style: none;
  margin: 10px 0;
}

.active {
  right: 0px;
  transition: right 0.25s ease-out;
}
